.headerWrapper {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 2;
    height: 4rem;
    padding: 0 9rem;
    font-family: 'Vollkorn', sans-serif;
    background-color: inherit;
    box-shadow: 0 8px 10px rgba(159, 90, 12, .13);
}

.label > img {
    position: absolute;
    z-index: 50;
    top: -8px;
    left: -21px;

    overflow: visible;

    box-sizing: content-box;
    width: 10.3rem;
    height: 7.3rem;
    padding: 0;

    text-align: center;

    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(159, 90, 12, .13);
}

.navContainer {
    display: flex;
    flex-direction: row;
}

.headerWrapper .headerIn {
    display: flex;
    align-items: center;
}

.headerWrapper .headerIn .menu {
    margin-left: 30px;
    display: flex;
}

.headerWrapper .headerIn .menu a {
    text-decoration: none;
    color: #ff5500;
    font-size: 1.4rem;
}

.headerWrapper .headerIn .menu a:hover {
    color: #662700;
}

.headerWrapper .headerIn .menu a + a {
    margin-left: 1rem;
}
.headerWrapper .headerIn .info{
    display: flex;
    font-size: 18px;
}
.headerWrapper .headerIn .info .bold{
    font-weight: bold;
}
.headerWrapper .headerIn .info span + span{
    margin-left: 30px;
}
.active {
    font-weight: 700;
    color: #662700 !important;
}

.headerWrapper .headerIn .info {
    margin-left: 50px;
}

.menuBtn {
    background-color: #ec7a2a;
    padding: .5rem .75rem;
    font-size: 1.5rem;
    border-radius: .25rem;
    border-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
}

.cartBtnWrapper {
    font-size: 1rem;
    font-weight: 600;

    position: absolute;
    z-index: 50;
    top: .6rem;
    right: 1rem;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    width: 9rem;
    height: 2.5rem;

    text-decoration: none;

    color: inherit;
    border: 1px solid #fff;
    border-radius: .8rem;
    background-color: #fd7e14;
}

@media (min-width: 0px) and (max-width: 991px) {

    .headerWrapper .headerIn{
        display: none;
    }
    .menuBtn{
        display: flex;
    }
    .drawer .headerIn{
        display: block;
        margin-top: 2rem;
    }
    .drawer .headerIn .menu a + a{
        margin: 0;
    }
    .drawer .headerIn .menu{
        flex-direction: column;
        margin-left: 0;
    }
    .drawer .headerIn .info{
        margin-left: 0;
    }
    .headerWrapper .cartBtnWrapper{
        right: 6rem;
    }
    .headerWrapper .headerIn .info{
        margin-top: 10px;
        flex-direction: column;
    }
    .headerWrapper .headerIn .info span + span{
        margin-left: 0;
        margin-top: 10px;
    }
}
@media(min-width: 992px) and (max-width: 1199px){
    .headerWrapper .headerIn .info{

        flex-direction: column;
    }
}
@media (min-width: 0px) and (max-width: 380px){
    .headerWrapper .label{
        display: none;
    }
    .cartBtnWrapper{
        left: 20px;
    }
}
.navContainer > * {
    padding: 0 .6rem;
    text-decoration: none;
}

@media (max-width: 600px) {
    .inform {
        display: none;
    }
}

.cartBtnWrapper:hover {
    color: #ffffff;
}

.cartName {
    padding: 0 1rem 0 .5rem;

    border-right: 1px solid #fff;
}
