.container {
    justify-content: center;

    composes: container from './../../App.css';
}

.productCardWrapper {
    composes: container;
    font-size: .8rem;

    position: relative;

    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 21rem;
    min-height: 31rem;
    margin: .4rem;
    padding: 15px 8px 5px 8px;

    text-align: center;
    word-wrap: break-word;

    color: #000000;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-family: 'Vollkorn', sans-serif;
}

.row {
    align-items: flex-start;
    justify-content: space-around;
    font-size: 16px;
    composes: row from './../../App.css';
}

.row button {
    line-height: 19px;
    margin-top: 0;
}

.price {
    margin-top: 5px;
}

.rowDiscr {
    composes: row;
}

.rowDiscr > span {
    width: 80%;
    height: 2.5rem;
    margin: 4px;
    font-size: 16px;
    border-top: 1px solid #e5d0a2;
}

.productCardWrapper > * h5 {
    font-size: 20px;
    margin: .8rem;
}

.btnSmall {
    font-weight: 600;

    width: 30px;
    height: 30px;
    padding: 0;

    border: 1px solid #ffbc80;
}

.btnSmallMinus {
    composes: btnSmall;
}

.btnAdd {
    width: 6rem;
    composes: mainBtn from './../../App.css';
}

.calculator {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.calculator > * span {
    min-width: 2.5rem;
}

.mainImg {
    background-image: url("./../../assets/icons/single.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex !important;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.mainImg > img {
    zoom: 110%;
}

.mainImgWrap {
    composes: mainImg;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    height: 300px;
    outline: 22px solid rgba(255, 255, 255, .5);
    outline-offset: -20px;
}

.mainImgWrap:hover {
    outline-color: rgba(255, 255, 255, .4);
}

.mainImgWrap:hover > .mainImg > img {
    zoom: 109%;
}

.success {
    background-color: #83c318;
    border-color: #83c318;
    color: #FFFFFF;
}

.success:hover {
    background-color: #83c318;
    border-color: #83c318;
}
